Git-2.50.1-64-bit.exe filter=lfs diff=lfs merge=lfs -text
VSCodeUserSetup-x64-1.102.1.exe filter=lfs diff=lfs merge=lfs -text
mingw-19.0.exe filter=lfs diff=lfs merge=lfs -text
.exe filter=lfs diff=lfs merge=lfs -text
